#lot-details-modal {
  md-toolbar {
    min-height: 38px;
    height: 38px;
  }

  md-dialog-content {
    form {
      md-content {
        padding-top: 20px;

        md-input-container {
          margin: 0;
        }
      }
    }
  }
}