#lot-details-modal {
  md-toolbar {
    min-height: 38px;
    height: 38px;
  }

  md-dialog-content {
    form {
      table {
        tbody {
          tr {
            td {
              padding: 8px;
            }
          }
        }
      }
    }
  }
}