#reports-selection {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 12;
  padding: 5px 0 0 5px;
  height: auto;
  width: 25%;

  md-card-content {
    padding: 0 5px;

    md-input-container {
      margin: 0px;
      height: 40px;
      padding-right: 5px;

      md-select {
        height: 30px;
        border: none;

        .md-select-value {
          border-bottom: none;
        }
      }
    }

    button {
      margin-top: 5px;
    }
  }
}