{% extends "base.html" %}

{% block content %}
    {% raw %}
    <div id="index-container" layout="row" ng-controller="indexController as indexCtl" flex>

        <!-- map canvas dimensions will be computed during map initialization -->
        <div id="map-canvas" flex-gt-xs="{{ hasOpenedModal ? 100 : 80 }}" flex="100"></div>

        {% endraw %}
                <!-- Map Drawing Panel -->
                {% include "partials/_boundaries_panel.html" %}
        {% raw %}

        <md-button class="md-fab md-primary"
                   id="create-lot-offer-btn"
                   ng-click="indexCtl.createLotOffer($event)">
            <md-tooltip md-direction="left">Create lot offer</md-tooltip>
            <md-icon>add</md-icon>
        </md-button>

        <md-button ng-if="currentUser.role == 'LEGAL'"
                   class="md-fab md-warn"
                   id="show-legal-issues-btn"
                   ng-click="indexCtl.showLegalIssues($event)">
            <md-tooltip md-direction="left">Show Legal Issues</md-tooltip>
            <md-icon>card_travel</md-icon>
        </md-button>

        <md-button ng-if="currentUser.role == 'MDC'"
                class="md-fab md-default"
                   id="show-technical-issues-btn"
                   ng-click="indexCtl.showTechnicalIssues($event)">
            <md-tooltip md-direction="left">Show Technical Issues</md-tooltip>
            <md-icon>track_changes</md-icon>
        </md-button>

        <!--
        <md-button class="md-fab md-default"
                   id="search-lot-btn"
                   ng-click="indexCtl.searchLotOffer($event)">
            <md-tooltip md-direction="left">Search Lot Offers</md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
        -->

        <div id="powered-by" layout="row">
            <a href="http://navagis.com" target="_blank">
                <img src="/resources/images/navagis_powered.png">
            </a>
        </div>
    {% endraw %}
    </div>
{% endblock %}