@import "global/var";

@import "global/mixins";

@import "global/common";

@import
  // UI Components ""
  "ui/_ui",

  "libs/_material_table",

  // Partials
  "partials/_top_nav",
  "partials/sidenav/_main_menu",
  "partials/_boundaries_panel",
  "partials/_drawing_tools",
  "partials/_address_search",
  "partials/_search_lot_offer_modal",
  "partials/_lot_result_table",
  "partials/_lot_details_modal",
  "partials/_report_issue_modal",
  "partials/_reports_result_table",
  "partials/_reports_selection",

  // Pages

  "pages/_base",
  "pages/_index",
  "pages/_login",
  "pages/_reports",

  // Libraries Overrides
  "libs/_v-accordion"

;